In [13]:
!pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in /home/gaideh/.local/lib/python3.10/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /home/gaideh/.local/lib/python3.10/site-packages (from openpyxl) (1.1.0)

In [14]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/gaideh/.local/lib/python3.10/site-packages (2.0.1)
Requirement already satisfied: numpy>=1.21.0 in /home/gaideh/.local/lib/python3.10/site-packages (from pandas) (1.24.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/gaideh/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/gaideh/.local/lib/python3.10/site-packages (from pandas) (2020.1)
Requirement already satisfied: tzdata>=2022.1 in /home/gaideh/.local/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /home/gaideh/.local/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.14.0)

In [15]:
import pandas as pd
import numpy as np

In [16]:
# read the files
df1 = pd.read_excel("Rodney Key 1.xlsx")
df2 = pd.read_excel("Hillary Key 2.xlsx")

In [17]:
# checl the shape
print("df1 shape", df1.shape)
print("df2 shape", df2.shape)

df1 shape (92, 8)
df2 shape (92, 8)

In [18]:
df1["Number"] = df1.index
df2["Number"] = df2.index

In [19]:
# Remove the index columns
df1.reset_index(drop=True, inplace=True)
df2.reset_index(drop=True, inplace=True)

In [20]:
# check the shape of df1
df1.shape

(92, 9)

In [21]:
# check the shape of df2
df2.shape

(92, 9)

In [22]:
# Highlighting the difference between two DataFrames
df_all = pd.concat([df1.set_index("Number"), df2.set_index("Number")], axis="columns", keys=["Rodney_Key1", "Hillary_Key2"])
df_final = df_all.swaplevel(axis="columns")[df1.columns.drop('Number')[:]]
df_final

                                         Property No
                                         Rodney_Key1
Number
0                                               1234  \
1                                               1303
2                                               1903
3                                               1941
4                                                244
...                                              ...
87                                              2474
88                                              2422
89                                              2417
90                                              2420
91      E Li || Ri Way P N & N Y RR || & NWs Pine Rd

                                                                     Owner
                                     Hillary_Key2              Rodney_Key1
Number
0                                            1234     Fred J LeGierse etux  \
1                                            1303       William Selmi etux
2                                            1903       Mathilde S Kaplan
3                                            1941      Sidney Harnick etux
4                                             244         City of Phila Tr
...                                           ...                      ...
87                                           2474       Le Roy C Witt etux
88                                           2422  Frank J Marolla Jr etux
89                                           2417     Elias D B Steinmeyer
90                                           2420               H O L Corp
91      E Li || Ri Way P N & N Y RR & NWs Pine Rd       Fox Chase Land Co

                                                          Address
                   Hillary_Key2                       Rodney_Key1
Number
0          Fred J LeGierse etux                    1234 N 52nd St  \
1            William Selmi etux                 1826 Wynnewood Rd
2            Mathilde S Kaplan                      521 S 60th St
3           Sidney Harnick etux                    2642 N 31st St
4              City of Phila Tr                      Lafayette Bl
...                         ...                               ...
87        Le Roy C Witt etux Tr                     2473 76th Ave
88      Frank J Marolla Jr etux                     2474 77th Ave
89         Elias D B Steinmeyer  412 Netherwood Rd Upper Darby Pa
90                   H O L Corp                     Washington DC
91            Fox Chase Land Co                   7940 Oxford Ave

                                                 Mtg                    Cons.
                            Hillary_Key2 Rodney_Key1 Hillary_Key2 Rodney_Key1
Number
0                          1234n 52nd St         NaN          NaN         Nom  \
1                      1826 Wynnewood Rd        2400         2400         800
2                           521S 60th St        3325         3325     1000(B)
3                          2642N 31st St         NaN          NaN        3650
4                           Lafayette Bl        Shff         Shff         390
...                                  ...         ...          ...         ...
87                         2474 77th Ave        5300         5300         Nom
88                         2473 77th Ave         NaN          NaN        4300
89      412 Netherwood Rd Upper Darby Pa        Shff         Shff         195
90                         Washington DC        Shff         Shff        2700
91                       7940 Oxford Ave         NaN          NaN         Nom

                     Column.No.                               Img. No.
       Hillary_Key2 Rodney_Key1 Hillary_Key2               Rodney_Key1
Number
0               Nom           1            1  PRDS.P024_1935-1940.0262  \
1               800           1            1  PRDS.P024_1935-1940.0262
2           1000(B)           1            1  PRDS.P024_1935-1940.0262
3              3650           1            1  PRDS.P024_1935-1940.0262
4               390           1            1  PRDS.P024_1935-1940.0262
...             ...         ...          ...                       ...
87              Nom           4            4  PRDS.P024_1935-1940.0262
88             4300           4            4  PRDS.P024_1935-1940.0262
89              195           4            4  PRDS.P024_1935-1940.0262
90             2700           4            4  PRDS.P024_1935-1940.0262
91              Nom           4            4  PRDS.P024_1935-1940.0262

                         Street of Property
          Hillary_Key2          Rodney_Key1         Hillary_Key2
Number
0       1935-1940.0262    N Fifty-Second St    N Fifty Second St
1       1935-1940.0262    N Fifty-Second St    N Fifty Second St
2       1935-1940.0262    N Fifty-Second St    N Fifty Second St
3       1935-1940.0262    N Fifty-Second St    N Fifty Second St
4       1935-1940.0262    S Fifty-Second St     S Fift-Second St
...                ...                  ...                  ...
87      1935-1940.0262  Seventy Seventh Ave  Seventy-Seventh Ave
88      1935-1940.0262   Seventy Eighth Ave  Seventy-Seventh Ave
89      1935-1940.0262    Seventy Ninth Ave    Seventy-Eigth Ave
90      1935-1940.0262    Seventy Ninth Ave    Seventy-Ninth Ave
91      1935-1940.0262        Miscellaneous       Miscellandequs

[92 rows x 16 columns]

In [23]:
# pip install --upgrade pandas

In [24]:
def highlight_diff(data, color='red'):
    attr = 'background-color: {}'.format(color)
    other = data.xs('Rodney_Key1', axis='columns', level=-1)
    return pd.DataFrame(np.where(data.ne(other, level=0), attr, ''),
                        index=data.index, columns=data.columns)

x = df_final.style.apply(highlight_diff, axis=None)
# print(type(x))
x.to_excel("Comparedrrr.xlsx")